@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.heroContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: ubuntu Condensed;
    font-size: 20px;
    padding-bottom: 200px;
    padding-top: 100px;
    background-color: #DAFDBA;
    width: 100%;
}

.heroProfileImg {
    width: 20rem;
    margin: 10px;
    padding: 0px;
}

.textHeroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textHeroContainer h1 {
    text-align: center;
}

.linkContactContainer {
    display: flex;
    flex-direction: row;
}

.linkContactContainer img {
    width: 2rem;
    height: 2rem;
    ;
}


/* Responsive */
@media (max-width: 700px) {
    .heroContainer {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        padding-top: 150px;
        padding-bottom: 50px;
        background-color: rgb(255, 255, 255);
        width: 100%;
    }

    .heroProfileImg {
        order: 1;
        width: 10rem;
    }

    .textHeroContainer {
        order: 2;
    }

    .linkContactContainer img {
        width: 30px;
        height: 30px;
    }
}