@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.contactFooterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: ubuntu Condensed;
    font-size: 13px;
    background-color: #5d5d5d;
    color: #DAFDBA;
    width: 100%;
    border-top: 1px solid rgb(202, 202, 202);
}

.nombre {
    padding-left: 15px;
}

.lugar {
    padding-right: 15px;
}